<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Amazon</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo"></div>
            </div>
            <div class="nav-address border">
                <p class="add-first">Deliver to</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-second">India</p>
                </div>
            </div>

            <div class="nav-search">
                <select class="search-select">
                    <option value="all">All</option>
                </select>
                <input placeholder="Search Amazon" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-signin border">
                <p><span>Hello,sign in</span></p>
                <p class="nav-second">Account & Lists</p>
            </div>
            <div class="nav-retrun border">
                <p><span>Returns</span></p>
                <p class="nav-second">& Orders</p>
            </div>
            <div class="nav-cart border">
                <i class="fa-solid fa-cart-shopping"></i>
                <b class="nav-second">Cart</b>
            </div>
        </div>

        <div class="panel">
            <div class="panel-all border">
                <a><i class="fa-solid fa-bars"></i></a>
                <a href="#">All</a>
            </div>
            <div class="panel-opt">
                <p class="border">Today's Deals</p>
                <p class="border">Customer Service</p>
                <p class="border">Registry</p>
                <p class="border">Gift Cards</p>
                <p class="border">Sell</p>
            </div>

        </div>
    </header>

    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local
                delivery. <a href="index.html " target="_main">Click here to go to amazon.in</a></p>
        </div>
    </div>
    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content">
                <h2>Toys under $25</h2>
                <div class="box-img" style="background-image: url('/images/box1.jpg');"></div>
                <p class="see-more">Shop now</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2>Home essentials</h2>
                <div class="box-img" style="background-image: url('/images/box2.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>Jeans under $50</h2>
                <div class="box-img" style="background-image: url('/images/box3.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Kitchen</h2>
                <div class="box-img" style="background-image: url('/images/box4.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>Décor</h2>
                <div class="box-img" style="background-image: url('/images/box5.jpg');"></div>
                <p class="see-more">Shop now</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2>Dining</h2>
                <div class="box-img" style="background-image: url('/images/box6.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>Get your game on</h2>
                <div class="box-img" style="background-image: url('/images/box7.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Home décor under $50</h2>
                <div class="box-img" style="background-image: url('/images/box8.jpg');"></div>
                <p class="see-more">See more</p>
            </div>
        </div>
        <div class="rect-box">
            <div class="rect-content">
                <h2>Related to items you've viewed <span class="see-more"
                        style=" margin: 15px; padding-bottom: 15px;">See more</span></h2>

            </div>
            <div class="rect-images">
                <div class="rect-img" style="background-image: url('/images/b1.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/b2.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/b3.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/b4.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/b5.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/b6.jpg');"></div>
            </div>
        </div>

        <div class="rect-box">
            <div class="rect-content">
                <h2>Top picks for India <span class="see-more"
                        style=" margin: 15px; padding-bottom: 15px;">See more</span></h2>

            </div>
            <div class="rect-images">
                <div class="rect-img" style="background-image: url('/images/c1.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/c2.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/c3.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/c5.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/c6.jpg');"></div>
                <div class="rect-img" style="background-image: url('/images/c7.jpg');"></div>


            </div>
        </div>





    </div>

    <footer>
        <div class="foot-panel1">
            <a href="#">Back to Top</a>
        </div>
        <div class="foot-panel2">
            <ul>
                Get to Know Us
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>

            <ul>
                Get to Know Us
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>

            <ul>
                Get to Know Us
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>

            <ul>
                Get to Know Us
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>

        </div>
        <div class="foot-panel3">
            <div class="logo">
            </div>
        </div>
        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                © 1996-2024, Amazon.com, Inc. or its affiliates
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>